h1 {
  display: none;
}

h2 { 
  margin-top: 10px;
}

h2 a, h2 a:active, h2 a:link {
  text-decoration: none;
  color: #151515;
}

h2 span.small {
  font-size: 60%;
}

form.deficit {
  text-align: center;
  margin-bottom: 1.5em;
}

div#infovis-container {
  width: 50%;
  float: left;
  clear: left;
  clear: both;
}

div#infovis {
  width: 100%;
}

div#options {
  width: 48%;
  float: right;
  font-size: 70%;
}

table#results {
  margin: 0;
  padding: 0;
}

#about {
  clear: both;
  padding-top: 1em;
}

.amount {
  text-align: right;
}

.darkrow, .darkrow td, .darkrow th {
}

.cutrow, .cutrow td, .cutrow th {
  background-color: #652928;
  color: white;
}

.increaserow, .increaserow td, .increaserow th {
  background-color: #a84542;
  color: white;
}

