#y-axis, #graph {
  float: left;
  margin-top: 10px;
}

#y-axis {
  width: 40px;
}

#graph {
  height: 400px;
}

#graph, .rickshaw_legend {
  width: 90%;
  width: -webkit-calc(100% - 80px);
  width: -moz-calc(100% - 80px);
}

.rickshaw_legend {
  margin-left: 40px;
  background: transparent;
  color: #333;
  float: left;
}

.rickshaw_legend .line {
  width: 47%;
  float: left;
  clear: none;
}

.rickshaw_legend .line:hover {
  background: rgba(0, 0, 0, .08);
}

.rickshaw_legend .action {
  color: black;
  opacity: 0.5;
}

.rickshaw_legend .label {
  font-size: inherit;
  color: inherit;
  font-weight: normal;
  background-color: transparent;
}
