#vis {
}

#fig {
  width: 700px;
  margin: auto;
  margin-top: 5px;
  height: 600px;
  text-align: center;
}

div#controls {
  float: right;
  width: 200px;
  margin-top: 10px;
}

#slider-widget {
  width: 200px;
}

.ui-slider-horizontal {
  height: 5px;
}

.ui-slider-horizontal .ui-slider-handle {
  height: 13px;
}
