body {
}

/* tablesorter */
th.header {
  cursor: pointer; 
  background-repeat: no-repeat; 
  background-position: center right; 
  padding-right: 5px; 
  background-image: url(http://tablesorter.com/themes/blue/bg.gif);
}

th.headerSortUp { 
  background-image: url(http://tablesorter.com/themes/blue/desc.gif);
} 

th.headerSortDown { 
  background-image: url(http://tablesorter.com/themes/blue/asc.gif);
} 


/* thejit */
#infovis {
  position:relative;
  width:600px;
  height:500px;
  margin:auto;
  overflow:hidden;
}

#infovis .content {
  text-align: center;
}

label {
  display: inline;
}
