body {
  font-family: Georgia, San-Serif;
}

#vis {
}

.fig {
  width: 75%;
  min-width: 300px;
  margin: auto;
  margin-top: 5px;
  height: 100%;
  min-height: 300px;
  text-align: center;
  float: left;
}

div#controls {
  float: right;
  min-width: 200px;
  width: 20%;
  font-size: 80%;
}

#slider-widget {
  width: 80%;
}

.ui-slider-horizontal {
  height: 3px;
}

.ui-slider-horizontal .ui-slider-handle {
  height: 14px;
  width: 4px;
  margin-left: -0.1em;
  top: -0.45em;
}

div#data .data-table {
  font-size: 70%;
}

div#data .data-json {
  display: block;
  font-size: 70%;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  min-height: 200px; 
}

